@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
:root {
  --color-primary: #013d3b;
  --color-secondary: #f7d7be;
  --color-grey-light: #eeedef;
  --color-grey-dark1: #2b353d;
  --color-grey-dark2: #1a1d1e;
  --color-primary-light: #d3d8d8a1;
  --font-dispay: "Open Sans", sans-serif;
  --font-primary: "Roboto", sans-serif;
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  --box-shadow-light: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 400;
  min-height: 100vh;
  color: #222; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

/*===== GOOGLE FONTS =====*/
.heading--1 {
  font-family: var(--font-dispay);
  font-weight: 800;
  font-size: 4rem;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-transform: capitalize; }

.heading--2 {
  font-family: 600;
  color: var(--color-secondary);
  font-size: 2.5rem; }

.heading--3 {
  font-family: var(--font-dispay);
  color: var(--color-grey-dark2); }

.heading--4 {
  font-family: var(--font-dispay);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-grey-light);
  text-transform: uppercase; }

hr {
  border: none; }

.hr-1 {
  margin: 0 auto;
  width: 10%;
  border-top: 0.3rem solid var(--color-grey-dark1); }

.hr-2 {
  margin-left: auto;
  width: 80%;
  border-top: 0.3rem solid var(--color-secondary); }

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 300;
  transform: translateY(0);
  transition: all 0.2s; }
  .btn:hover {
    box-shadow: var(--box-shadow-light);
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(0); }

.btn-light {
  background-color: var(--color-secondary);
  color: var(--color-grey-dark2); }

.btn--dark {
  background-color: var(--color-grey-dark2);
  color: var(--color-secondary);
  letter-spacing: 1px;
  padding: 1rem 1.5rem; }

.mb-hg {
  margin-bottom: 5rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-sm {
  margin-bottom: 1rem; }

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav {
  height: 9rem;
  font-size: 1.6rem;
  width: 100%;
  padding: 0 8rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  text-transform: uppercase;
  position: absolute;
  z-index: 500; }
  .nav__logo img {
    height: 4.5rem;
    width: auto; }
  .nav__toggle {
    display: none; }
  .nav__links {
    display: flex; }
  .nav__item {
    margin-left: 4rem; }
    .nav__item a {
      color: var(--color-grey-dark1); }
  .nav__item:last-child {
    margin-left: 6rem; }
  .nav .login {
    background-color: var(--color-grey-dark2);
    color: var(--color-grey-light);
    padding: 0.5rem 2rem;
    border-radius: 0.2rem; }
  .nav .login:hover {
    box-shadow: var(--box-shadow-light); }

.nav.sticky {
  position: fixed; }

.header {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  .header__slider {
    margin-top: 9rem;
    padding: 0 8rem 6rem;
    height: 100vh; }

/* SLIDER */
.slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s; }

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover; }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: var(--color-secondary);
  opacity: 0.7;
  font-family: inherit;
  color: var(--color-grey-dark2);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3.25rem;
  cursor: pointer; }

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%); }

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%); }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.dots__dot {
  border: none;
  background-color: var(--color-grey-light);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); }

.dots__dot:last-child {
  margin: 0; }

.dots__dot--active {
  /* background-color: #fff; */
  background-color: var(--color-secondary);
  opacity: 1; }

.count-boxes {
  z-index: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex; }
  .count-boxes__box {
    z-index: 400;
    position: relative;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-grey-light);
    opacity: 0.8;
    outline: none;
    border: none;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    transition: all 0.5s; }
    .count-boxes__box:hover {
      cursor: pointer; }
    .count-boxes__box--active {
      background-color: var(--color-grey-dark2);
      color: var(--color-secondary);
      opacity: 1; }

.slide--main {
  background-color: #e5e5e5;
  display: flex;
  justify-content: space-between; }
  .slide--main .herobg {
    width: 40%;
    justify-self: flex-end; }
  .slide--main__content {
    padding: 8rem 0 8rem 16rem;
    width: 50%;
    height: 100%; }
    .slide--main__content h1 {
      text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
    .slide--main__content h1.heading--main {
      color: var(--color-primary);
      font-weight: 600;
      line-height: 1.4; }
      .slide--main__content h1.heading--main span {
        font-size: 6rem;
        font-weight: 800; }
  .slide--main .ellipse {
    position: absolute; }
    .slide--main .ellipse--1 {
      width: 7%;
      height: auto;
      top: 20%;
      left: 60%; }
    .slide--main .ellipse--2 {
      width: 5%;
      height: auto;
      top: 45%;
      left: 50%; }
    .slide--main .ellipse--3 {
      width: 6%;
      height: auto;
      top: 5%;
      left: -2%; }
    .slide--main .ellipse--4 {
      width: 1.5%;
      height: auto;
      top: 18%;
      left: 68%; }

.services {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 6rem;
  margin: 8rem; }
  .services__service {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 3rem 3rem;
    border-radius: 0.3rem;
    text-align: center;
    position: relative;
    box-shadow: var(--box-shadow); }
    .services__service .service__icon {
      height: 4.5rem;
      width: 4.5rem;
      fill: var(--color-secondary); }

.btn-service {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, 0);
  transition: all 0.2s; }
  .btn-service:hover {
    transform: translate(-50%, -3px); }
  .btn-service:active {
    transform: translate(-50%, 0); }

.testimonials {
  margin: 8rem;
  height: 100vh;
  padding: 8rem;
  background-color: var(--color-grey-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .testimonials .slider-2 {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    overflow: hidden; }
  .testimonials .slider-2-btn {
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font: inherit;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    transition: all 0.2s; }
    .testimonials .slider-2-btn:hover {
      cursor: pointer;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3); }
    .testimonials .slider-2-btn--left {
      position: absolute;
      bottom: 14rem;
      left: 14rem; }
    .testimonials .slider-2-btn--right {
      position: absolute;
      bottom: 14rem;
      right: 14rem; }
  .testimonials .testimonial {
    height: 100%;
    padding: 3rem;
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 0;
    /* THIS creates the animation! */
    transition: transform 1s; }
    .testimonials .testimonial .user__img {
      height: 100%;
      width: auto;
      margin-right: 3rem; }
    .testimonials .testimonial .user__content {
      flex-grow: 1;
      z-index: 90; }
    .testimonials .testimonial .user__review {
      margin-top: 3rem;
      color: var(--color-primary);
      font-size: 1.6rem; }
    .testimonials .testimonial .quote {
      position: absolute;
      bottom: 0rem;
      right: 4rem;
      width: 15rem;
      opacity: 0.3;
      z-index: -1; }

.quote-icon {
  height: 15rem;
  width: auto;
  position: absolute;
  right: 5rem;
  top: 10rem;
  z-index: 100; }

.stores {
  margin: 8rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .stores__container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 5rem; }
  .stores__store {
    height: 12rem;
    width: 12rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-light);
    overflow: hidden;
    text-align: center;
    transition: all 0.2s; }
    .stores__store:hover {
      box-shadow: var(--box-shadow); }
  .stores__store-icon {
    background-color: transparent;
    padding: 2rem;
    height: 100%;
    width: 100%; }

.newsletter {
  width: 100%;
  height: auto;
  margin: 8rem 0 0;
  padding: 6rem;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .newsletter h3 {
    font-weight: 800;
    font-size: 3rem; }
  .newsletter__subheading {
    color: var(--color-primary);
    font-size: 1.6rem; }
  .newsletter__container {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: 50%; }
    .newsletter__container input {
      outline: none;
      border: none;
      font: inherit;
      border-radius: 0.5rem;
      color: var(--color-grey-dark1); }
      .newsletter__container input::placeholder {
        font: inherit;
        color: #777; }
    .newsletter__container #newsletterEmail {
      width: 70%;
      padding: 1rem 2rem;
      margin-right: 1rem; }
    .newsletter__container .subscribe {
      flex-grow: 1; }
      .newsletter__container .subscribe:hover {
        transform: translate(0); }

.footer {
  width: 100%;
  height: auto;
  padding: 8rem 8rem 4rem;
  background-color: var(--color-grey-dark2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    justify-content: space-evenly; }
  .footer__item:not(:first-of-type) {
    padding-left: 1rem;
    border-left: 0.1rem solid #d3d8d849; }
  .footer__item--1 .footer__logo {
    width: 6rem;
    height: auto; }
  .footer__item--1 .footer__about {
    color: var(--color-grey-light);
    font-size: 1.4rem; }
  .footer__item--1 .footer__social {
    display: flex; }
    .footer__item--1 .footer__social .footer__social-link {
      padding: 0.3rem;
      border-radius: 0.5rem;
      background-color: #d3d8d8;
      opacity: 0.7;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer__item--1 .footer__social .footer__social-link:not(:last-of-type) {
        margin-right: 2rem; }
      .footer__item--1 .footer__social .footer__social-link--icon {
        width: 80%;
        height: 80%; }
  .footer__item .heading--4 {
    font-size: 1.4rem;
    color: var(--color-primary-light); }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left; }
    .footer__list--item {
      color: var(--color-grey-light);
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
      transition: all 0.2s; }
      .footer__list--item:hover {
        cursor: pointer; }
  .footer__copyright {
    border-top: 0.1rem solid #d3d8d849;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    color: var(--color-primary-light); }
