:root {
  --color-primary: #013d3b;
  --color-secondary: #f7d7be;
  --color-grey-light: #eeedef;
  --color-grey-dark1: #2b353d;
  --color-grey-dark2: #1a1d1e;
  --color-primary-light: #d3d8d8a1;
  --font-dispay: "Open Sans", sans-serif;
  --font-primary: "Roboto", sans-serif;
  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  --box-shadow-light: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (min-width: 87.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  line-height: 1.6;
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 400;
  min-height: 100vh;
  color: #222; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.heading--1 {
  font-family: var(--font-dispay);
  font-weight: 800;
  font-size: 4rem;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-transform: capitalize; }
  @media only screen and (max-width: 37.5em) {
    .heading--1 {
      font-size: 3.75rem; } }

.heading--2 {
  font-family: 600;
  color: var(--color-secondary);
  font-size: 2.5rem; }

.heading--3 {
  font-family: var(--font-dispay);
  color: var(--color-grey-dark2); }

.heading--4 {
  font-family: var(--font-dispay);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--color-grey-light);
  text-transform: uppercase; }

hr {
  border: none; }

.hr-1 {
  margin: 0 auto;
  width: 10%;
  border-top: 0.3rem solid var(--color-grey-dark1); }

.hr-2 {
  margin-left: auto;
  width: 80%;
  border-top: 0.3rem solid var(--color-secondary); }
  @media only screen and (max-width: 50em) {
    .hr-2 {
      margin: 0 auto;
      width: 70%; } }

.btn {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 300;
  transform: translateY(0);
  transition: all 0.2s; }
  .btn:hover {
    box-shadow: var(--box-shadow-light);
    transform: translateY(-3px); }
  .btn:active {
    transform: translateY(0); }

.btn-light {
  background-color: var(--color-secondary);
  color: var(--color-grey-dark2); }

.btn--dark {
  background-color: var(--color-grey-dark2);
  color: var(--color-secondary);
  letter-spacing: 1px;
  padding: 1rem 1.5rem; }
  @media only screen and (max-width: 37.5em) {
    .btn--dark {
      padding: 1.5rem 1.75rem; } }

.mb-hg {
  margin-bottom: 5rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-sm {
  margin-bottom: 1rem; }

.section-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .section-header {
      flex-direction: column;
      text-align: center; } }

.para {
  color: var(--color-primary);
  font-size: 1.6rem; }

.para-sm {
  color: var(--color-primary);
  font-size: 1.4rem; }

.nav {
  height: 9rem;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  text-transform: capitalize;
  position: absolute;
  z-index: 450; }
  @media only screen and (max-width: 62.5em) {
    .nav {
      padding: 0 5rem; } }
  @media only screen and (max-width: 50em) {
    .nav {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .nav {
      padding: 0 3rem; } }
  .nav__logo img {
    height: 4.5rem;
    width: auto; }
  .nav__toggle, .nav__close {
    display: none;
    width: max-content; }
    @media only screen and (max-width: 50em) {
      .nav__toggle, .nav__close {
        display: block; } }
  .nav__icon {
    height: 3rem;
    width: 3rem; }
  .nav__links {
    display: flex; }
    .nav__links--logo {
      display: none;
      margin-bottom: 3rem; }
      .nav__links--logo img {
        height: 4rem;
        width: auto; }
      @media only screen and (max-width: 50em) {
        .nav__links--logo {
          display: block; } }
    @media only screen and (max-width: 50em) {
      .nav__links {
        width: 40vw;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        overflow: scroll;
        background-color: var(--color-secondary);
        padding: 5rem;
        transform: translateX(100%); } }
    @media only screen and (max-width: 37.5em) {
      .nav__links {
        width: 70vw; } }
  .nav__item {
    padding: 0.5rem 1.5rem;
    margin-left: 3rem; }
    .nav__item a {
      display: flex;
      align-items: center;
      color: var(--color-grey-dark1); }
    @media only screen and (max-width: 50em) {
      .nav__item {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 1rem; } }
  .nav__item:last-child {
    margin-left: 6rem; }
    @media only screen and (max-width: 50em) {
      .nav__item:last-child {
        margin-left: 0; } }

.nav.sticky {
  position: fixed; }

.dropdown {
  position: relative; }
  .show-dropdown > .dropdown__menu {
    height: auto;
    opacity: 1; }
    @media only screen and (max-width: 50em) {
      .show-dropdown > .dropdown__menu {
        display: block; } }
  .dropdown.show-dropdown .icon-expand {
    transform: rotateX(180deg); }
  .dropdown__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark1);
    margin-left: 0.5rem; }
  .dropdown .icon-expand {
    transition: all 0.2s ease-in;
    transform: rotateX(0); }
  .dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    background-color: #fff;
    width: 100%;
    min-width: max-content;
    max-width: 100%;
    height: 0%;
    overflow: hidden;
    opacity: 0;
    font-family: var(--font-display);
    font-size: 1.45rem;
    border-radius: 0 0 5px 5px;
    transition: height 0.3s 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 400ms 0ms; }
    @media only screen and (max-width: 50em) {
      .dropdown__menu {
        position: unset;
        display: none;
        overflow: unset;
        background-color: transparent; } }
  .dropdown__item {
    padding: 1rem 1.5rem; }
    .dropdown__item a {
      color: var(--color-primary); }
    .dropdown__item:first-of-type {
      border-top: 2px solid var(--color-primary); }
    .dropdown__item:hover {
      cursor: pointer;
      background-color: var(--color-primary-light); }
    @media only screen and (max-width: 50em) {
      .dropdown__item {
        padding-left: 3rem; } }
    @media only screen and (max-width: 50em) {
      .dropdown__item:active {
        color: var(--color-grey-dark2); } }

.show-nav {
  transform: translateX(0);
  transition: transform 0.5s ease-out; }

.hide-nav {
  transform: translateX(100%);
  transition: transform 0.5s ease-out; }

.header {
  height: 100vh;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 50em) {
    .header {
      height: 50vh; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 100vw; } }
  .header__slider {
    margin-top: 9rem;
    padding: 0 8rem 6rem;
    height: 100%; }
    @media only screen and (max-width: 62.5em) {
      .header__slider {
        padding: 0 5rem 6rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__slider {
        padding: 0 3rem 6rem; } }

/* SLIDER */
.slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  /* IN THE END */
  overflow: hidden; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s; }

.slide > img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover; }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: var(--color-secondary);
  opacity: 0.7;
  font-family: inherit;
  color: var(--color-grey-dark2);
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  font-size: 3.25rem;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .slider__btn {
      display: none; } }

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%); }

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%); }

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.dots__dot {
  border: none;
  background-color: var(--color-grey-light);
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); }

.dots__dot:last-child {
  margin: 0; }

.dots__dot--active {
  /* background-color: #fff; */
  background-color: var(--color-secondary);
  opacity: 1; }

.count-boxes {
  z-index: 400;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex; }
  .count-boxes__box {
    z-index: 400;
    position: relative;
    width: 5rem;
    height: 5rem;
    background-color: var(--color-grey-light);
    opacity: 0.8;
    outline: none;
    border: none;
    font-family: var(--font-primary);
    font-size: 1.6rem;
    transition: all 0.5s; }
    .count-boxes__box:hover {
      cursor: pointer; }
    .count-boxes__box--active {
      background-color: var(--color-grey-dark2);
      color: var(--color-secondary);
      opacity: 1; }

.slide--main {
  background-color: #e5e5e5;
  background-image: url("../../img/heroBanner.png");
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: space-between; }
  .slide--main__content {
    padding: 8rem 0 8rem 16rem;
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 62.5em) {
      .slide--main__content {
        padding: 8rem 0 8rem 12rem; } }
    @media only screen and (max-width: 37.5em) {
      .slide--main__content {
        height: 70%;
        padding: 3rem; } }
    @media only screen and (max-width: 37.5em) {
      .slide--main__content p {
        font-size: 1.4rem; } }
    .slide--main__content h1.heading--main {
      color: var(--color-primary);
      font-weight: 600;
      line-height: 1.4; }
      @media only screen and (max-width: 37.5em) {
        .slide--main__content h1.heading--main {
          font-size: 1.6rem; } }
      .slide--main__content h1.heading--main span {
        font-size: 6rem;
        font-weight: 800; }
        @media only screen and (max-width: 37.5em) {
          .slide--main__content h1.heading--main span {
            font-size: 2rem; } }
  .slide--main .ellipse {
    position: absolute; }
    .slide--main .ellipse--1 {
      width: 7%;
      height: auto;
      top: 20%;
      left: 60%; }
    .slide--main .ellipse--2 {
      width: 5%;
      height: auto;
      top: 45%;
      left: 50%; }
    .slide--main .ellipse--3 {
      width: 6%;
      height: auto;
      top: 5%;
      left: -2%; }
    .slide--main .ellipse--4 {
      width: 1.5%;
      height: auto;
      top: 18%;
      left: 68%; }

@media only screen and (max-width: 37.5em) {
  .btn-slide-main {
    display: none; } }

.services {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 6rem;
  margin: 8rem; }
  @media only screen and (max-width: 62.5em) {
    .services {
      margin: 8rem 5rem; } }
  @media only screen and (max-width: 50em) {
    .services {
      grid-gap: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .services {
      margin: 5rem 3rem;
      grid-gap: 3rem; } }
  .services__service {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 3rem 3rem;
    border-radius: 0.3rem;
    text-align: center;
    position: relative;
    box-shadow: var(--box-shadow); }
    @media only screen and (max-width: 50em) {
      .services__service {
        padding: 3rem 2rem; } }
    .services__service .service__icon {
      height: 4.5rem;
      width: 4.5rem;
      fill: var(--color-secondary); }

.btn-service {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, 0);
  transition: all 0.2s; }
  .btn-service:hover {
    transform: translate(-50%, -3px); }
  .btn-service:active {
    transform: translate(-50%, 0); }

.testimonials {
  margin: 8rem;
  height: 95vh;
  padding: 8rem;
  background-color: var(--color-grey-light);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 75em) {
    .testimonials {
      height: 90vh; } }
  @media only screen and (max-width: 62.5em) {
    .testimonials {
      margin: 8rem 5rem; } }
  @media only screen and (max-width: 50em) {
    .testimonials {
      height: 60vh;
      padding: 8rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .testimonials {
      height: 80vh;
      padding: 4rem 3rem;
      margin: 3rem 0rem; } }
  @media only screen and (min-width: 87.5em) {
    .testimonials {
      height: 90vh; } }
  @media only screen and (max-width: 37.5em) {
    .testimonials h1.heading--1 {
      text-align: center;
      font-size: 2.5rem; } }
  .testimonials .slider-2 {
    width: 80%;
    height: 80%;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border-radius: 0.5rem;
    overflow: hidden; }
    @media only screen and (max-width: 50em) {
      .testimonials .slider-2 {
        width: 83%; } }
    @media only screen and (max-width: 37.5em) {
      .testimonials .slider-2 {
        width: 95%; } }
  .testimonials .slider-2-btn {
    border: none;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font: inherit;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 50em) {
      .testimonials .slider-2-btn {
        height: 4.5rem;
        width: 4.5rem;
        padding: 0.2rem; } }
    @media only screen and (max-width: 37.5em) {
      .testimonials .slider-2-btn {
        height: 4rem;
        width: 4rem; } }
    .testimonials .slider-2-btn:hover {
      cursor: pointer;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.3); }
    .testimonials .slider-2-btn--left {
      position: absolute;
      bottom: 14rem;
      left: 14rem; }
      @media only screen and (max-width: 50em) {
        .testimonials .slider-2-btn--left {
          left: 9rem;
          bottom: 12rem; } }
      @media only screen and (max-width: 37.5em) {
        .testimonials .slider-2-btn--left {
          top: 50%;
          left: 2rem; } }
    .testimonials .slider-2-btn--right {
      position: absolute;
      bottom: 14rem;
      right: 14rem; }
      @media only screen and (max-width: 50em) {
        .testimonials .slider-2-btn--right {
          right: 9rem;
          bottom: 12rem; } }
      @media only screen and (max-width: 37.5em) {
        .testimonials .slider-2-btn--right {
          top: 50%;
          right: 2rem; } }
  .testimonials .testimonial {
    height: 100%;
    padding: 3rem;
    background-color: #fff;
    display: flex;
    position: absolute;
    top: 0;
    /* THIS creates the animation! */
    transition: transform 1s; }
    @media only screen and (max-width: 50em) {
      .testimonials .testimonial {
        flex-direction: column;
        padding: 5rem;
        justify-content: center;
        text-align: center;
        align-items: center; } }
    @media only screen and (max-width: 37.5em) {
      .testimonials .testimonial {
        padding: 2rem; } }
    .testimonials .testimonial .user__img {
      height: 100%;
      width: auto;
      margin-right: 3rem; }
      @media only screen and (max-width: 50em) {
        .testimonials .testimonial .user__img {
          height: 50%;
          width: auto;
          margin-right: 0;
          margin-bottom: 3rem;
          border-radius: 5px; } }
      @media only screen and (max-width: 37.5em) {
        .testimonials .testimonial .user__img {
          margin-bottom: 1.5rem;
          height: 30%; } }
    .testimonials .testimonial .user__content {
      flex-grow: 1;
      z-index: 90; }
    .testimonials .testimonial .user__review {
      margin-top: 3rem; }
      @media only screen and (max-width: 37.5em) {
        .testimonials .testimonial .user__review {
          margin-top: 1.5rem; } }
    .testimonials .testimonial .quote {
      position: absolute;
      bottom: 0rem;
      right: 4rem;
      width: 15rem;
      opacity: 0.3;
      z-index: -1; }

.quote-icon {
  height: 14rem;
  width: auto;
  position: absolute;
  right: 5rem;
  top: 12rem;
  z-index: 100; }
  @media only screen and (max-width: 50em) {
    .quote-icon {
      height: 10rem;
      top: 14rem; } }
  @media only screen and (max-width: 37.5em) {
    .quote-icon {
      height: 8rem;
      top: 20%;
      right: 4rem; } }

.stores {
  margin: 8rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 62.5em) {
    .stores {
      margin: 8rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .stores {
      margin: 5rem 3rem; } }
  .stores__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16rem);
    grid-gap: 1.5rem;
    justify-content: center;
    justify-items: center;
    width: 100%; }
  .stores__item {
    height: 15rem;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-grey-light);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s; }
    .stores__item:hover {
      transform: scale(1.035); }
  .stores__img {
    height: 70%;
    width: auto;
    padding: 1.5rem; }
    .stores__img img {
      height: auto;
      width: 100%; }
  .stores__offer {
    background-color: var(--color-primary);
    color: var(--color-grey-light);
    text-align: center;
    font-size: 1.6rem;
    padding: 0.5rem 0; }

.newsletter {
  width: 100%;
  height: auto;
  margin: 8rem 0 0;
  padding: 6rem;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 62.5em) {
    .newsletter {
      padding: 6rem 4rem; } }
  .newsletter h3 {
    font-weight: 800;
    font-size: 3rem; }
  .newsletter__subheading {
    color: var(--color-primary);
    font-size: 1.6rem; }
  .newsletter__container {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: 50%; }
    @media only screen and (max-width: 50em) {
      .newsletter__container {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .newsletter__container {
        flex-direction: column;
        width: 80%; } }
    .newsletter__container input {
      outline: none;
      border: none;
      font: inherit;
      border-radius: 0.5rem;
      color: var(--color-grey-dark1); }
      .newsletter__container input::placeholder {
        font: inherit;
        color: #777; }
    .newsletter__container #newsletterEmail {
      width: 70%;
      padding: 1rem 2rem;
      margin-right: 1rem; }
      @media only screen and (max-width: 50em) {
        .newsletter__container #newsletterEmail {
          width: 80%; } }
      @media only screen and (max-width: 37.5em) {
        .newsletter__container #newsletterEmail {
          width: 100%;
          margin-right: 0;
          margin-bottom: 1.5rem; } }
    .newsletter__container .subscribe {
      flex-grow: 1; }
      .newsletter__container .subscribe:hover {
        transform: translate(0); }
      @media only screen and (max-width: 37.5em) {
        .newsletter__container .subscribe {
          align-self: center; } }

.footer {
  width: 100%;
  height: auto;
  padding: 8rem 8rem 4rem;
  background-color: var(--color-grey-dark2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footer__container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;
    justify-content: space-evenly; }
  .footer__item:not(:first-of-type) {
    padding-left: 1rem;
    border-left: 0.1rem solid #d3d8d849; }
    @media only screen and (max-width: 37.5em) {
      .footer__item:not(:first-of-type) {
        padding-left: 0;
        border-left: none;
        padding-top: 1rem;
        border-top: 0.1rem solid #d3d8d849; } }
  .footer__item--1 .footer__logo {
    width: 6rem;
    height: auto; }
  .footer__item--1 .footer__about {
    color: var(--color-grey-light);
    font-size: 1.4rem; }
    @media only screen and (max-width: 50em) {
      .footer__item--1 .footer__about {
        width: 60%; } }
  .footer__item--1 .footer__social {
    display: flex; }
    .footer__item--1 .footer__social .footer__social-link {
      padding: 0.3rem;
      border-radius: 0.5rem;
      background-color: #d3d8d8;
      opacity: 0.7;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .footer__item--1 .footer__social .footer__social-link:not(:last-of-type) {
        margin-right: 2rem; }
      .footer__item--1 .footer__social .footer__social-link--icon {
        width: 80%;
        height: 80%; }
  @media only screen and (max-width: 50em) {
    .footer__item--1 {
      grid-column: 1/-1;
      margin-bottom: 1.5rem; } }
  .footer__item .heading--4 {
    font-size: 1.4rem;
    color: var(--color-primary-light); }
  @media only screen and (max-width: 37.5em) {
    .footer__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; } }
  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left; }
    @media only screen and (max-width: 37.5em) {
      .footer__list {
        justify-content: center;
        align-items: center; } }
    .footer__list--item {
      color: var(--color-grey-light);
      font-size: 1.4rem;
      margin-bottom: 0.8rem;
      transition: all 0.2s; }
      .footer__list--item:hover {
        cursor: pointer; }
  .footer__copyright {
    border-top: 0.1rem solid #d3d8d849;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1rem;
    color: var(--color-primary-light); }

.grid {
  margin: 8rem; }
  @media only screen and (max-width: 62.5em) {
    .grid {
      margin: 8rem 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .grid {
      margin: 5rem 3rem; } }
  .grid__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 5rem; }
    @media only screen and (max-width: 37.5em) {
      .grid__wrapper {
        grid-template-columns: 1fr; } }
    .grid__wrapper--item {
      height: 30rem;
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: var(--box-shadow-light);
      overflow: hidden; }
      @media only screen and (max-width: 37.5em) {
        .grid__wrapper--item {
          height: 40rem; } }

.offers__offer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-grey-light);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .offers__offer {
      width: 30rem;
      justify-self: center; } }
  .offers__offer--img {
    height: 30%;
    width: 100%;
    text-align: center; }
    .offers__offer--img img {
      height: auto;
      width: 100%; }
  .offers__offer--content {
    text-align: center; }
  .offers__offer button {
    width: 100%; }

.hot-deals .grid__wrapper {
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
  .hot-deals .grid__wrapper--item {
    height: 20rem;
    transition: all 0.3s; }
    .hot-deals .grid__wrapper--item:hover {
      transform: scale(1.035); }

.hot-deals__item {
  overflow: hidden;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secondary); }

.hot-deals__deal {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-weight: 400;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem; }
  .hot-deals__deal h5 {
    color: var(--color-grey-dark1); }

.hot-deals__img {
  height: 100%; }

.new-products .grid__wrapper--item {
  height: 35rem; }
  @media only screen and (max-width: 37.5em) {
    .new-products .grid__wrapper--item {
      height: 45rem;
      width: 30rem;
      justify-self: center; } }

.new-products__product {
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  grid-gap: 1rem; }

.new-products .new-product__discount-badge {
  font-size: 1.4rem;
  position: absolute;
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 2rem 0.5rem 1rem;
  clip-path: polygon(0 1%, 94% 0, 83% 100%, 0% 100%);
  grid-row: 1/2; }
  @media only screen and (max-width: 37.5em) {
    .new-products .new-product__discount-badge {
      height: 100%;
      display: flex;
      align-items: center; } }

.new-products .new-product__brand {
  background-color: var(--color-secondary);
  text-align: end;
  padding-right: 1rem;
  margin-bottom: auto; }
  @media only screen and (max-width: 37.5em) {
    .new-products .new-product__brand {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; } }

.new-products .new-product__img {
  height: auto;
  text-align: center;
  margin: 0 auto auto;
  padding: 1rem;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .new-products .new-product__img img {
    height: 15rem;
    width: auto; }
    @media only screen and (max-width: 37.5em) {
      .new-products .new-product__img img {
        height: 24rem; } }
  .new-products .new-product__img figcaption {
    font-size: 1.5rem;
    font-family: var(--font-display);
    color: var(--color-primary); }

.new-products .new-product__price {
  grid-row: 3/4;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .new-products .new-product__price #price-original {
    text-decoration: line-through;
    color: var(--color-grey-dark1);
    font-size: 1.5rem;
    margin-right: 2rem; }
  .new-products .new-product__price #price-sale {
    font-weight: 600;
    color: var(--color-grey-dark2); }

.new-products .new-product__btn {
  grid-row: 4/5;
  align-self: center; }
