.grid {
	margin: 8rem;
	//   background-color: pink;

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 5rem;

		&--item {
			height: 30rem;
			background-color: #fff;
			border-radius: 1rem;
			box-shadow: var(--box-shadow-light);
			overflow: hidden;
		}
	}
}
