.hot-deals {
	.grid__wrapper {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
		&--item {
			height: 20rem;
			transition: all 0.3s;

			&:hover {
				transform: scale(1.035);
			}
		}
	}

	&__item {
		overflow: hidden;
		padding: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--color-secondary);
	}

	&__deal {
		display: flex;
		flex-direction: column;
		height: 100%;
		font-weight: 400;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding: 1rem;

		& h5 {
			color: var(--color-grey-dark1);
		}
	}

	&__img {
		height: 100%;
	}
}
