.newsletter {
  width: 100%;
  height: auto;
  margin: 8rem 0 0;
  padding: 6rem;
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 {
    font-weight: 800;
    font-size: 3rem;
  }

  &__subheading {
    color: var(--color-primary);
    font-size: 1.6rem;
  }

  &__container {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    width: 50%;

    input {
      outline: none;
      border: none;
      font: inherit;
      border-radius: 0.5rem;
      color: var(--color-grey-dark1);

      &::placeholder {
        font: inherit;
        color: #777;
      }
    }
    #newsletterEmail {
      width: 70%;
      padding: 1rem 2rem;
      margin-right: 1rem;
    }
    .subscribe {
      flex-grow: 1;
      &:hover {
        transform: translate(0);
      }
    }
  }
}
