.offers {
	&__offer {
		padding: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: var(--color-grey-light);
		position: relative;

		@media only screen and (max-width: $bp-small) {
			// height: 45rem;
			width: 30rem;
			justify-self: center;
		}

		&--img {
			height: 30%;
			width: 100%;
			text-align: center;

			// @media only screen and (max-width: $bp-small) {
			// 	height: 45%;
			// }
			img {
				height: auto;
				width: 100%;
			}
		}

		&--content {
			text-align: center;
		}

		button {
			width: 100%;
		}
	}
}
