.stores {
  margin: 8rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));

    grid-gap: 5rem;
  }

  &__store {
    height: 13rem;
    width: 13rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-light);
    overflow: hidden;
    text-align: center;
    transition: all 0.2s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    // justify-items: center;

    &:hover {
      box-shadow: var(--box-shadow);
    }
  }

  &__store-icon {
    // background-color: var(--color-grey-light);
    background-color: transparent;
    padding: 0.5rem;
    height: 80%;
    width: 80%;
    justify-self: center;
  }

  &__offers {
    background-color: var(--color-primary);
    color: #fff;
    align-self: end;
    font-size: 1.6rem;
  }
}
