.stores {
  margin: 8rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 3rem;
    justify-items: center;
  }

  &__store {
    height: 12rem;
    width: 12rem;
    transition: all 0.2s;

    &:hover {
      box-shadow: var(--box-shadow-light);
    }
  }

  &__store-icon {
    background-color: var(--color-grey-light);
    padding: 2rem;
    height: 100%;
    width: 100%;
  }
}
