.stores {
	margin: 8rem;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	@media only screen and (max-width: $bp-large) {
		margin: 8rem 5rem;
	}

	@media only screen and (max-width: $bp-small) {
		margin: 5rem 3rem;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 16rem);
		grid-gap: 1.5rem;
		justify-content: center;
		justify-items: center;
		width: 100%;
	}

	&__item {
		height: 15rem;
		width: 16rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--color-grey-light);
		border-radius: 5px;
		overflow: hidden;
		transition: all 0.3s;

		&:hover {
			transform: scale(1.035);
		}
	}

	&__img {
		height: 70%;
		width: auto;
		padding: 1.5rem;
		img {
			height: auto;
			width: 100%;
		}
	}

	&__offer {
		background-color: var(--color-primary);
		color: var(--color-grey-light);
		text-align: center;
		font-size: 1.6rem;
		padding: 0.5rem 0;
	}

	// &__container {
	// 	width: 100%;
	// 	display: grid;
	// 	grid-template-rows: auto;
	// 	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	// 	grid-gap: 5rem;

	// 	@media only screen and (max-width: $bp-medium) {
	// 		grid-gap: 3rem;
	// 	}
	// }

	// &__store {
	// 	height: 13rem;
	// 	width: 13rem;
	// 	border-radius: 0.5rem;
	// 	box-shadow: var(--box-shadow-light);
	// 	overflow: hidden;
	// 	text-align: center;
	// 	transition: all 0.2s;
	// 	display: grid;
	// 	grid-template-columns: 1fr;
	// 	grid-template-rows: 1fr;
	// 	align-items: center;

	// 	&:hover {
	// 		box-shadow: var(--box-shadow);
	// 	}
	// }

	// &__store-icon {
	// 	// background-color: var(--color-grey-light);
	// 	background-color: transparent;
	// 	padding: 0.5rem;
	// 	height: 80%;
	// 	width: 80%;
	// 	justify-self: center;
	// }

	// &__offers {
	// 	background-color: var(--color-primary);
	// 	color: #fff;
	// 	align-self: flex-end;
	// 	font-size: 1.6rem;
	// }
}
