.nav {
  height: 9rem;
  font-size: 1.6rem;
  width: 100%;
  padding: 0 8rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  // box-shadow: 0 0.4rem 1rem rgba($color: #000000, $alpha: 0.1);
  text-transform: uppercase;
  position: absolute;
  z-index: 500;

  &__logo {
    img {
      height: 4.5rem;
      width: auto;
    }
  }

  &__toggle {
    display: none;
  }

  &__links {
    display: flex;
  }

  &__item {
    margin-left: 4rem;
    a {
      color: var(--color-grey-dark1);
    }
  }

  &__item:last-child {
    margin-left: 6rem;
  }
  .login {
    background-color: var(--color-grey-dark2);
    color: var(--color-grey-light);
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
  }
  .login:hover {
    box-shadow: var(--box-shadow-light);
  }
}

.nav.sticky {
  position: fixed;
  // box-shadow: var(--box-shadow-light);
}
