:root {
	--color-primary: #013d3b;
	--color-secondary: #f7d7be;
	--color-grey-light: #eeedef;
	--color-grey-dark1: #2b353d;
	--color-grey-dark2: #1a1d1e;
	--color-primary-light: #d3d8d8a1;

	--font-dispay: "Open Sans", sans-serif;
	--font-primary: "Roboto", sans-serif;
	--box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
		0 22.3px 17.9px rgba(0, 0, 0, 0.072);
	--box-shadow-light: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
		0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 10px/16px = 62.5%  ---- 1rem = 10px
}

body {
	line-height: 1.6;
	font-family: var(--font-primary);
	font-size: 2rem;
	font-weight: 400;
	min-height: 100vh;
	color: #222;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}
